<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link>
	</head>
	<body>
		<ul class="topnav">
			<li><a class="active" href="/">Home</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
			<li class="right"><a href="#about">About</a></li>
		</ul>
		<div class="content">
			<div>
				<h2>EDIT</h2>
			</div>

			<form method="POST" action="/records/<%= data._id %>?_method=PATCH">
				<label for="recTypes">Record type</label><br>
				<select name="recordType" id="record">
					<option value="expense" <%= data.recordType ==='expense' ? 'selected' : '' %>>Expense</option>
					<option value="income" <%= data.recordType ==='income' ? 'selected' : '' %>>Income</option>
				</select>
				<br>
				<label for="amount">Amount</label><br>
				<input type="text" id="amount" name="amount" value="<%= data.amount %>"><br>
				<div>
					<input type="submit" value="OK">
				</div>
			</form>
		</div>
	</body>
</html>