<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link>
	</head>
	<body>
		<ul class="topnav">
			<li>
				<a class="active" href="">Home</a>
			</li>
		</ul>
		<a class="button" href="/register">REGISTER</a>
		<a class="button" href="/login"value=>LOGIN</a>
	</form>
	</body>
</html>