<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link>
	</head>
	<body>
		<ul class="topnav">
			<li>
				<a class="active" href="/">Home</a>
			</li>
		</ul>
		<div class="content">
			<div class="center">
				<h2>Expense Logger</h2>
			</div>
			<form class="center" name="myForm" action="/records/create" method="post" onsubmit="setTimeout(function(){window.location.reload();},30) & validateForm()">
				<label for="recordType">Record type*</label>
				<br>
				<select name="recordType" id="recordType">
					<option value="expense">Expense</option>
					<option value="income">Income</option>
				</select>
				<br>
				<div class="parallel">
					<label for="amount">Amount*</label>
					<input type="text" id="amount" name="amount">
				</div>
				<div class="parallel">
					<label for="currency">Currency</label>
					<select name="currency" id="currency">
						<option value="" selected></option>
						<option value="EUR">EUR</option>
						<option value="GBP">GBP</option>
						<option value="USD">USD</option>
						<option value="CAD">CAD</option>
						<option value="AUD">AUD</option>
					</select>
				</div>
				<br>
				<label for="description">Description</label>
				<br>
				<textarea type="input" id="description" name="description"></textarea>
				<br>
				<div>
					<label>Record date</label>
					<input type="date" id="recordDate" name="recordDate">
				</div>
				<br>
				<div>
					<input type="submit" value="Add">
				</div>
			</form>
		</div>
		<table style="width: 80%; margin-left: auto; margin-right: auto;">
			<tr>
				<th>Amount</th>
				<th>Record type</th>
				<th colspan="2">Actions</th>
			</tr><% for (var i = 0; i < data.length; i++) { %> <tr>
				<td><%= data[i].amount %> </td>
				<td><%= data[i].recordType %> </td>
				<!-- <td>
					<form method="GET" action="/records/</%=data[i]._id%>/edit">
						<button type="submit" name="submit" class="btn"> Edit </button>
					</form>
				</td> -->
				<td>
					<form method="GET" action="/records/<%=data[i]._id%>/details">
						<button type="submit"> Details </button>
					</form>
				</td>
				<td>
					<button onclick="confirmDelete()">Delete</button>
					<form method="POST" action="/records/<%=data[i]._id%>?_method=DELETE" onsubmit="setTimeout(function(){window.location.reload();},30);">
						<button hidden id="submitDelete" type="submit"></button>
					</form>
				</td>
				
			</tr><% } %>
		</table>
		</div>
		<script src="static/index.js"></script>
	</body>
</html>