<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link>
	</head>
	<body>
		<ul class="topnav">
			<li><a class="active" href="/home">Home</a></li>
		</ul>
		<div class="content">
			<div>
				<h2>LOGIN</h2>
			</div>
			<label>Login using:</label>
			<input type="radio" name="select" id="usernameOption" checked>
			<div class="parallel">
				<label for="usernameOption">Username</label>
			</div>
			<input type="radio" name="select" id="emailOption">
			<div class="parallel">
				<label for="emailOption"> Email</label>
			</div>

			<form id="loginForm" method="GET" action="/users/login">
				<div class="parallel">
					<br>
					<label id="loginLabel" for="login">Username</label>
					<input type="text" id="login" name="login">
				</div>
				<br>
                <div class="parallel">
					<label for="password">Password</label>
					<input type="password" id="password" name="password">
				</div>
                <!-- <input type="checkbox" onclick="showPassword()">Show Password -->
			</form>
			<br>
			<button onclick="login()">LOGIN</button>
			
		</div>
	</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js"></script>
    <script src="static/login.js"></script>
</html>